---
title: Jamie Noon | Résumé
heading: Résumé
---
<h2 id="page-heading"><%= current_page.data.heading %></h2>
<p><i class="fa fa-cloud-download"></i>&nbsp; <%= link_to "Download as PDF", "assets/jamie_noon_resume.pdf", :target => "_blank", :title => "Jamie Noon - Résumé" %></p>
<section id="education">
  <h3>Education</h3>
  <h4>Arizona State University – Ira A. Fulton Schools of Engineering, Tempe, Arizona</h4>
  <p>
    <span>Master of Science (M.S.), Technology – Graphic Information Technology</span>
    <span>Grade Point Average (GPA): 4.00/4.00</span>
  </p>
  <p>
    <span>Bachelor of Science (B.S.), Graphic Information Technology</span>
    <span>Focus Areas: Usability/Psychology and Web Development</span>
    <span>Degree Honors: Summa Cum Laude</span>
    <span>Grade Point Average (GPA): 4.00/4.00</span>
  </p>
</section>
<section id="experience">
  <h3>Experience</h3>
  <h4>Digital Designer, 10x Genomics; Pleasanton, California — 2020-Present</h4>
  <p>This role supports the Commercial Marketing Team, helping to shape design for 10x Genomics' user experience, while continuing to refine digital brand standards and support front-end development.</p>

  <h4>Senior Web Designer, Simpson Strong-Tie; Pleasanton, California — 2018-Present</h4>
  <ul class="list">
    <li>Produce wireframes to conceptualize UI designs across web and mobile platforms, translating visual designs into semantic and compliant code</li>
    <li>Work with cross-functional teams to generate a clear ideation and digital strategy for automated marketing campaigns, creating user flow charts that communicate the user experience while meeting the needs of the stakeholders</li>
    <li>Provide direction to the creative team to ensure a consistent design approach and a unified digital presence, seeing that all work meets in-house coding and user interface design standards</li>
    <li>Hand-code and implement updated and responsive email templates to meet current best practices, while maintaining brand identity and consistency across various email marketing campaigns</li>
    <li>Perform A/B testing to strategize and optimize content, resulting in higher open and click-through rates</li>
  </ul>

  <h4>Freelance Designer and Developer, Jamie Noon; San Ramon, California — 2010-Present</h4>
  <ul class="list">
    <li>Developed, designed, and maintained custom web applications (<%= link_to "notarydepot.com", "https://www.notarydepot.com/", :target => "_blank" %>, <%= link_to "tilyamakeit.com", "https://www.tilyamakeit.com/", :target => "_blank" %>, <%= link_to "jamielynnnoon.com", "https://www.jamielynnnoon.com/", :target => "_blank" %>, and <%= link_to "noonstunes.com", "https://www.noonstunes.com", :target => "_blank" %>) utilizing web technologies: Ruby on Rails, HTML5, CSS3, SASS, JavaScript, jQuery, and Git</li>
    <li>Designed and conducted targeted usability tests to ensure and continually improve usability across multiple devices and browsers</li>
    <li>Designed logos and marketing collaterals while defining brand identities</li>
    <li>Integrated social media and responsive web design techniques</li>
  </ul>

  <h4>UX Designer, Notary Depot; San Ramon, California — 2014-2017</h4>
  <ul class="list">
    <li>Created wireframes and prototypes, and translated them to responsive code</li>
    <li>Completed user research to identify opportunities for improving Notary Depot’s web presence, social media strategy, and SEO ranking</li>
    <li>Conducted and analyzed remote usability tests (tree testing, qualitative research, first click testing) in order to propose a responsive redesign of the website, which resulted in increased user traffic, engagement, and retention upon implementation</li>
    <li>Redefined the brand identity and logo design</li>
  </ul>

  <h4>Principal, Noon's Tunes; San Ramon, California — 2005-Present</h4>
  <ul class="list">
    <li>Secured licensing agreements with major cable networks and production companies including ABC, ABC Family, Bravo, CBS, E!, Lifetime, MTV, NBC, Nickelodeon, Oxygen, TLC, and VH1</li>
    <li>Procured television song placements on ABC's All My Children, ABC Family's The Secret Life of the American Teenager, CBS's Young and the Restless, Lifetime's Dance Moms, MTV's Real World, NBC's The Voice, TLC's Here Comes Honey Boo Boo, and a national Subway commercial</li>
  </ul>

  <h4>Songwriter/Artist, Jamie Lynn Noon; San Ramon, California — 2004-Present</h4>
  <ul class="list">  
    <li>2x Hollywood Music in Media Awards nominee for original songs "Second of a Spark" and "Like a Meteor"</li>
    <li>Developed and led social media efforts on Facebook, Twitter, and MySpace leading to a no. 25 chart position on Billboard's Social 50 and a centerfold article feature in Billboard Magazine entitled "Socially Savvy Singer-Songwriter"</li>
  </ul>

  <h4>Founder, tilyamakeit.com; San Ramon, California — 2004-Present</h4>
  <ul class="list"> 
    <li>Founded the 'Til Ya Make It organization, a cause-related organization and online story-sharing network of hope, inspiration, and support</li>
    <li>Secured song contributions to compilation albums benefiting national and global charities including: Susan G. Komen for the Cure, Oxfam America, Leukemia &amp; Lymphoma Society, and the Liddy Shriver Sarcoma Initiative</li>
  </ul>
</section>
<section id="skills">
  <h3>Skills</h3>
  <h4>Languages and Technologies</h4>
  <ul class="list">
    <li>HTML5/HTML</li>
    <li>CSS3/CSS, SASS</li>
    <li>JavaScript, jQuery</li>
    <li>Ruby on Rails</li>
    <li>Version Control (Git)</li>
  </ul>
  <h4>Applications</h4>
  <ul class="list">
    <li>Adobe Creative Cloud (Adobe XD, Photoshop, Illustrator, InDesign)</li>
    <li>Axure, Sketch, InVision</li>
  </ul>
  <h4>Digital Marketing</h4>
  <ul class="list">
    <li>Google Analytics</li>
    <li>Pardot</li>
    <li>Social Media and Analytics (Twitter, Facebook, Instagram, et al.)</li>
  </ul>
</section>